<form #stepForm="ngForm" name="form" class="d-contents">
  <div class="container-fluid flex-no-shrink fit-w">
    <div class="row separator-bottom">
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 p-t-24 p-l-16 p-r-16">
        <div class="h3-style l-h-base text-medium">{{templateDetails?.title}}</div>
        <p class="lead text-normal" translate>
          {{templateDetails?.tagLine}}
        </p>
      </div>
    </div>
  </div>
  <div class="inner-scroll flex-grow">
    <div class="container-fluid fit-w">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
      <div class="card-group interact-grid" style="text-align:center;padding-top: 10px;">
        <div class="col-xs-12 col-sm-8 col-md-9">
           <div class="card">
          <div class="card-header">
              <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: left;">
                  <h4 class="card-title">Ensuring a Seamless Setup: Unveiling the Components Ready to Empower Your Experience!</h4>
              </div>
          </div>
          
          <div class="card-block" id="dashboardDiv">
              <div class="list-group">
                  <div class="list-group-item d-flex" *ngFor="let dashboard of templateDetails?.dashboards; let i = index">
                    <div class="list-item-checkbox">
                      <label id="dashboard{{i}}" title="Select" class="c8y-checkbox">
                        <input type="checkbox" [checked]="dashboard.selected" (change)="syncDashboardFlag($event, i)"
                        [disabled]="dashboard.isMandatory">
                        <span></span>
                      </label>
                    </div>
                
                    <div class="list-item-icon">
                      <i title="Dashboard" c8yIcon="dashboard"></i>
                    </div>
                    
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-3 col-xs-12 title-width">{{dashboard.title}}</span>
                        <div class="col-sm-3 col-xs-12 text-muted">
                          <span translate>{{dashboard.description}}</span>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-muted">
                        
                        <div *ngIf="dashboard.welcomeTemplates" class="col-sm-5 col-md-5 col-xs-12 pad-left">
                        <div class="dropdown" dropdown  container="body">
                          <button
                          type="button"
                          title="dropdown-toggle"
                          dropdownToggle
                          class="btn btn-default dropdown-toggle c8y-dropdown"
                        >
                          <span>{{templateSelected}}</span> <span class="caret"></span>
                        </button>
                        <ul style="max-height: 225px; overflow-y: auto" class="dropdown-menu" *dropdownMenu>
                          <li *ngFor="let selectedWelcomeTemplate of welcomeTemplateData; let st = index">
                            <button type="button" title="{{selectedWelcomeTemplate.description}}" (click)="assignDashboardName(selectedWelcomeTemplate)">
                              {{selectedWelcomeTemplate.dashboardName}}
                            </button>
                          </li>
                        </ul>
                        </div>
                        </div>
                        
                        <div *ngIf="(!dashboard.isSimulatorConfigExist && dashboard.isDeviceRequired) || (dashboard.isSimulatorConfigExist && dashboard.linkWithDashboard === '' && dashboard.isDeviceRequired)">
                          <div class="dropdown" dropdown  container="body">
                            <button
                            type="button"
                            title="dropdown-toggle"
                            dropdownToggle
                            class="btn btn-default dropdown-toggle c8y-dropdown"
                          >
                            <span>{{selectedDashboardName}}</span> <span class="caret"></span>
                          </button>
                          <ul style="max-height: 225px; overflow-y: auto" class="dropdown-menu" *dropdownMenu>
                            <li *ngFor="let selectedDasboard of filterTemplates; let st = index">
                              <button type="button" (click)="assignSelectedDashboard(selectedDasboard, i)">
                                {{selectedDasboard.title.split("-")[0]}}
                              </button>
                            </li>
                          </ul>
                          </div>
                          <c8y-loading *ngIf="isSpin" class="spinner-dashboard"></c8y-loading>
                        </div>

                        <div *ngIf="isPreviewLoading"><c8y-loading></c8y-loading></div>

                        
                      </div>
                        <div *ngIf="dashboard.title !== 'Instruction' && dashboard.title !== 'Welcome' && dashboard.title !== 'Help and Support' && dashboard.isConfigRequred" class="list-item-icon">
                          <i class="dlt-c8y-icon-cogs space-top" (click)="configureBasicInput(dashboard, i)"></i>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  
                  <div class="list-group-item d-flex" *ngFor="let plugin of templateDetails?.plugins; let p =index">
                    <div class="list-item-checkbox">
                      <label id="plugin{{p}}" title="select" class="c8y-checkbox" >
                        <input type="checkbox" [checked]="plugin.selected"  (change)="syncPluginFlag($event, p)"
                        [disabled]="plugin.isMandatory"/>
                        <span></span>
                      </label>
                    </div>
                    <div class="list-item-icon">
                      <i title="Plugin" c8yIcon="big-parcel"></i>
                    </div>
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-3 col-xs-12 title-width">{{plugin.title}}</span>
                        <div class="col-sm-3 col-xs-12 text-muted">
                          <span translate>{{plugin.description}}</span>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-muted"></div>
                      </div>
                    </div>
                  </div>
                  <div class="list-group-item d-flex" [ngStyle]="{'opacity': !isMSEnabled ? '0.65 ': ''}" *ngFor="let microservice of templateDetails?.microservices; let m =index">
                    <div class="list-item-checkbox">
                      <label id="microservice{{m}}" title="select" class="c8y-checkbox" >
                        <input type="checkbox" [checked]="microservice.selected"  (change)="syncMicroserviceFlag($event, m)"
                        [disabled]="microservice.isMandatory"/>
                        <span></span>
                      </label>
                    </div>
                    <div class="list-item-icon">
                      <i title="Microservice" c8yIcon="microchip"></i>
                    </div>
                    <div class="list-item-body text-left">
                      <div class="d-flex row">
                        <span class="col-sm-3 col-xs-12 title-width">{{microservice.title}}
                          <button *ngIf="!isMSEnabled" disabled type="button" style="margin-left: 10px"
                                class="btn btn-xs btn-icon">
                                <i class="fa fa-warning"></i>
                                Not supported!</button>
                        </span>
                        
                        <div class="col-sm-3 col-xs-12 text-muted">
                          <span translate>{{microservice.description}}</span>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-muted"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        
        <div  class="col-xs-12 col-sm-4 col-md-3">
          <div class="card" style="text-align: left;">
            <div class="card-header">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <h4 class="card-title">Application Configuration</h4>
                </div>
            </div>
            <div class="card-block" id="appConfingDiv" *ngIf="app | async as app">
                <form name="appConfigForm" #appConfigForm="ngForm">
                    <div class="form-group">
                        <label for="name" [ngClass]="{'label-color': applyTheme}"><span>Name</span></label>
                        <input type="text" class="form-control" id="name" name="name"
                            placeholder="e.g. My First Application (required)" required [(ngModel)]="newAppName">
                    </div>
            
                    <div class="form-group" *ngIf="app.contextPath != undefined">
                        <label for="contextpath" [ngClass]="{'label-color': applyTheme}"><span>Context
                                Path</span></label>
                        <input type="text" class="form-control" id="contextpath" name="contextpath"
                            placeholder="e.g. my-app (required)" required [(ngModel)]="newAppContextPath">
                    </div>
                    <!-- <div class="form-group">
                        <label for="icon" [ngClass]="{'label-color': applyTheme}"><span>Icon</span></label>
                        <icon-selector id="icon" name="icon" [(value)]="newAppIcon"></icon-selector>
                    </div> -->
                    <hr />
                    <div class="card-header">
                      <h4 translate>Themes</h4>
                    </div>
                    <div class="row col-md-12 col-sm-12 col-xs-12 form-group">
                        <button class="btn btn-xs"
                        style="--brand-primary: #f9fafb; border: solid 1px #011f3d;background-color: #f9fafb;color:#011f3d; margin-bottom: 10px;margin-left: 8px;"
                        (click)="setTheme(currentApp, '#f9fafb', '#e7ebee', '#011f3d', '#011f3d', '#512950','#058192', '#ffffff', '#ffffff', '#ffffff','Default')">Default</button>
                        <button class="btn btn-xs"
                        style="--brand-primary: #1776bf; border: solid 1px var(--brand-light);background-color: #1776bf;color:#fff;margin-bottom: 10px;"
                        (click)="setTheme(currentApp, '#1776bf', '#14629F', '#0b385b', '#ffffff', '#ffffff','#14629F', '#ffffff', '#ffffff', '#ffffff','Classic')">Classic</button>
                        <button class="btn btn-xs"
                        style="--brand-primary: #000080; border: solid 1px var(--brand-light);background-color: #000080;color:#fff;margin-bottom: 10px;"
                        (click)="setTheme(currentApp, '#011f3d', '#14629F', '#ffffff', '#ffffff', '#ffffff','#ffffff', '#012c57', '#012c57', '#012c57','Navy Blue')">Navy
                        Blue</button>
                        <button class="btn btn-xs"
                        style="--brand-primary: #243138; border: solid 1px var(--brand-light);background-color: #243138;color:#fff;margin-bottom: 10px;"
                        (click)="setTheme(currentApp, '#243138', '#13202a', '#ffffff', '#ffffff', '#ffffff','#ffffff', '#334650','#334650', '#334650', 'Dark')">Dark</button>
                     </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>


  <c8y-template-setup-stepper-buttons
    [formValid]="(appConfigForm?.form.valid) ? true : false"
    [index]="stepper.selectedIndex"
    (onNext)="updateAppConfiguration(currentApp)"
    (onBack)="back()"
  >
  </c8y-template-setup-stepper-buttons>
  <div class="alerts">
    <c8y-alert-outlet></c8y-alert-outlet>
   </div>
</form>