.space-top {
    padding-top: 30%;
    cursor: pointer;
}
.pad-left {
    padding-left: 0;
}
.title-width {
    width: 26%;
}
.btn-group > .btn:active {
    background-color: powderblue !important;
}
.spinner-dashboard {
    top: 2%;
    position: absolute;
    padding-left: 5%;
}

